<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- include components/title.html -%}

  {% if page.canonical_url %}
  <link rel="canonical" href="{{page.canonical_url}}">
  {% endif canonical_url %}

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src="{{ '/assets/js/wp-a11y-docs.js' | relative_url }}"></script>


</head>
