{% assign parentTitle  = page.parent %}

{%- if page.parent -%}

    {% for n in (1..9) %}

        {% assign parent = site.pages | where: "title", parentTitle | first %}

        {% if parent.title %}
            {% capture link %}
                <li class='breadcrumb-nav-list-item'><a href='{{parent.url | relative_url }}'>{{parent.title}}</a></li>
            {% endcapture %}
            {% assign parentLinks  = parentLinks  |
                split: ',' |
                prepend: link |
                replace: "]", "" |
                replace: "[", "" |
                replace: "\n", "" |
                replace: "\", "" |
                replace: '"', ""
            %}
            {% assign parentTitle = parent.parent %}
        {% else %}
            {% break %}
        {% endif %}

    {% endfor -%}

{% endif %}

{% if page.url contains "/articles/page" %}

    {% capture link %}
    <li class='breadcrumb-nav-list-item'><a href='{{ "/articles" | relative_url }}'>{{page.title}}</a></li>
    {% endcapture %}
    {% assign parentLinks  = parentLinks  |
    split: ',' |
    prepend: link |
    replace: "]", "" |
    replace: "[", "" |
    replace: "\n", "" |
    replace: "\", "" |
    replace: '"', ""
    %}
    {% assign parentTitle = parent.parent %}

{% endif %}

<nav class="breadcrumb-nav" aria-label="breadcrumbs">
    <ol class="breadcrumb-nav-list">
        <li class="breadcrumb-nav-list-item"><a href="/">Home</a></li>
        {%- for item in parentLinks -%}
            {{ item }}
        {%- endfor -%}
        <li class="breadcrumb-nav-list-item" aria-current="page">{{ extendedTitle }}</li>
    </ol>
</nav>
