
<div class="search">
  <form class="search-input-wrap" role="search">
    <input type="text" id="search-input" class="search-input" placeholder="Search {{site.title}}" autocomplete="off">
    <label for="search-input" class="search-label">
      <span class="screen-reader-text">Search {{site.title}}</span>
      <svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg>
    </label>
    <button>Search</button>
  </form>
  <div id="search-results" class="search-results"></div>
</div>
