@use "../abstracts/variables" as *;
@use "../base/colors" as *;
@use "../abstracts/mixins" as *;

@use "sass:color";

// Buttons and things that look like buttons
// stylelint-disable color-named

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.3em 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  color: $link-color;
  background-color: $base-button-color;
  border: 2px solid $link-color;
  border-radius: $border-radius;
  appearance: none;

  &:focus,
  &:hover,
  &:active,
  &.selected,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    color: $base-button-color;
    background-color: $link-color;
  }
}

.btn-reset {
  background: none;
  border: none;
  margin: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}
