@use "../abstracts/variables" as *;
@use "../base/colors" as *;

// callouts

div.opaque {
  background-color: $body-background-color;
}

p.highlight,
blockquote.highlight {
  background: rgba($yellow-000, 0.1);
  border-left: $border-radius solid $yellow-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > .highlight-title {
    color: $yellow-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.highlight-title,
blockquote.highlight-title {
  background: rgba($yellow-000, 0.1);
  border-left: $border-radius solid $yellow-300;
  border-radius: $border-radius;
  padding: 0.8rem;
  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    color: $yellow-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.highlight {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.highlight-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.important,
blockquote.important {
  background: rgba($blue-000, 0.1);
  border-left: $border-radius solid $blue-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    color: $blue-300;
    content: "Important";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .important-title {
    color: $blue-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.important-title,
blockquote.important-title {
  background: rgba($blue-000, 0.1);
  border-left: $border-radius solid $blue-300;
  border-radius: $border-radius;
  padding: 0.8rem;
  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    color: $blue-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.important {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.important-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.new,
blockquote.new {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    color: $green-300;
    content: "New";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .new-title {
    color: $green-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.new-title,
blockquote.new-title {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;
  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    color: $green-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.new {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.new-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.note,
blockquote.note {
  background: rgba($purple-000, 0.1);
  border-left: $border-radius solid $purple-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    color: $purple-300;
    content: "Note";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .note-title {
    color: $purple-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.note-title,
blockquote.note-title {
  background: rgba($purple-000, 0.1);
  border-left: $border-radius solid $purple-300;
  border-radius: $border-radius;
  padding: 0.8rem;
  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    color: $purple-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.note {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.note-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.warning,
blockquote.warning {
  background: rgba($red-000, 0.1);
  border-left: $border-radius solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    color: $red-300;
    content: "Warning";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .warning-title {
    color: $red-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.warning-title,
blockquote.warning-title {
  background: rgba($red-000, 0.1);
  border-left: $border-radius solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;
  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    color: $red-300;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.warning {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.warning-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}
