---
layout: default
title:  Articles
description: Articles on wp a11y docs.
nav_order: 2
---
  {%- include components/title.html -%}
  <h1>{{ extendedTitle }}</h1>

  {%- if site.page_size != nil %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}

    {%- assign date_format = site.date_format | default: '%B %-d, %Y' -%}
    {%- for post in posts -%}

      <article class="post-page">

        <h2>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>

        <p class="post-meta">
          {{ post.date | date: date_format }}
          {% if post.author %} by {{post.author}}{% endif %}
        </p>

        <p>{{ post.excerpt | default: post.description }}</p>

      </article>

    {%- endfor -%}


{% if paginator.total_pages > 1 %}

  <nav class="post-paging" aria-label="pagination">
    <ul>
    {% if paginator.previous_page %}
     <li><a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous page</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}

      {% if page == paginator.page %}
        <li aria-current="page">Page {{ page }}</li>

      {% elsif page == 1 %}
        <li><a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">Page {{ page }}</a></li>

      {% else %}
        {% assign page_one_link = '/' | append: site.paginate_page | append: '1' | append: '/' %}

        <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page | replace: page_one_link, '/' }}">Page {{ page }}</a></li>

      {% endif %}

    {% endfor %}

    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | relative_url }}">Next page &raquo;</a></li>
    {% endif %}
    </ul>
  </nav>

  {% endif %}
  {%- endif -%}
